In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv(r"C:\Users\gauth\Downloads\PRT prep\Mock tests\PRT 1\data.csv")

In [6]:
df.shape

(30, 2)

In [7]:
df.head(30)

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

The graph represents the relationship between years of experience (on the x- axis) and salary on the y axis based on the dataset provided to you. 

The data has been analyzed using a predictive model (referred to as XYZ model) Using the information from this graph and the XYZ model your task is to predict the likely range of salary for a person with 15 years of experience.

 In other words, based on the observed trend in the graph and the model predictions, estimate the salary range that a person with 15 years of experience is likely to fall within. Please provide your predictions for the salary range

In [ ]:
import numpy as np



# Initialize and fit the model
model = LinearRegression()
model.fit(X, y)

# Predict the salary for 15 years of experience
years_of_experience = np.array([[15]])
predicted_salary = model.predict(years_of_experience)

# Display the predicted salary
predicted_salary

In [11]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score


# Prepare the data for the model
X = df[['YearsExperience']]
y = df['Salary']

# Split the data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize and fit the model on the training data
model = LinearRegression()
model.fit(X_train, y_train)

# Predict on the test data
y_pred = model.predict(X_test)

# Calculate performance metrics
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

# Predict the salary for 15 years of experience using the trained model
years_of_experience = np.array([[15]])
predicted_salary = model.predict(years_of_experience)

mse, r2, predicted_salary

C:\Users\gauth\AppData\Roaming\Python\Python311\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

(49830096.85590839, 0.9024461774180497, array([166678.81285724]))

In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score
from statsmodels.stats.outliers_influence import variance_inflation_factor



# Prepare the data for the model
X = df[['YearsExperience']]
y = df['Salary']


# Split the data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize and fit the model on the training data
model = LinearRegression()
model.fit(X_train, y_train)

# Predict on the test data
y_pred = model.predict(X_test)

# Calculate performance metrics
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

# Predict the salary for 15 years of experience using the trained model
years_of_experience = np.array([[15]])
predicted_salary = model.predict(years_of_experience)

# Display the results
print(f"Mean Squared Error (MSE): {mse}")
print(f"R-squared (R²): {r2}")
print(f"Predicted salary for 15 years of experience: ${predicted_salary[0]:.2f}")

# Likely salary range
print(f"Likely salary range for 15 years of experience: ${predicted_salary[0] - 1000:.2f} to ${predicted_salary[0] + 1000:.2f}")

Mean Squared Error (MSE): 49830096.85590839
R-squared (R²): 0.9024461774180497
Predicted salary for 15 years of experience: $166678.81
Likely salary range for 15 years of experience: $165678.81 to $167678.81

C:\Users\gauth\AppData\Roaming\Python\Python311\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

2. Create a machine learning model the will predict the target-  "Clearsky DNI".

Note- We will use mean squared error as a metric, make sure the MSE should be below 1200, you can use any machine learning algorithm of your choice

In [17]:
df = pd.read_csv(r'C:\Users\gauth\Downloads\PRT prep\Mock tests\PRT 1\train.csv')

In [18]:
df.shape

(210240, 16)

In [19]:
df.columns

Index(['Timestamp', 'Temperature', 'Dew Point', 'Surface Albedo', 'Pressure',
       'Wind Direction', 'Wind Speed', 'Clearsky DHI', 'Clearsky DNI',
       'Clearsky GHI', 'Fill Flag', 'Ozone', 'Cloud Type',
       'Solar Zenith Angle', 'Precipitable Water', 'Relative Humidity'],
      dtype='object')

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210240 entries, 0 to 210239
Data columns (total 16 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Timestamp           210240 non-null  object
 1   Temperature         210240 non-null  float64
 2   Dew Point           210240 non-null  float64
 3   Surface Albedo      210240 non-null  float64
 4   Pressure            210240 non-null  int64
 5   Wind Direction      210240 non-null  int64
 6   Wind Speed          210240 non-null  float64
 7   Clearsky DHI        210240 non-null  int64
 8   Clearsky DNI        210240 non-null  int64
 9   Clearsky GHI        210240 non-null  int64
 10  Fill Flag           210240 non-null  int64
 11  Ozone               210240 non-null  float64
 12  Cloud Type          210240 non-null  int64
 13  Solar Zenith Angle  210240 non-null  float64
 14  Precipitable Water  210240 non-null  float64
 15  Relative Humidity   210240 non-null  float64
dtypes: float64(8), int64(7), object(1)
memory usage: 25.7+ MB

In [22]:
df.head(30)

,Timestamp,Temperature,Dew Point,Surface Albedo,Pressure,Wind Direction,Wind Speed,Clearsky DHI,Clearsky DNI,Clearsky GHI,Fill Flag,Ozone,Cloud Type,Solar Zenith Angle,Precipitable Water,Relative Humidity
0,2019-01-01 00:00:00,12.5,6.9,0.21,1005,121,1.0,0,0,0,0,0.258,1,173.92,1.4,68.82
1,2019-01-01 00:10:00,12.3,6.9,0.21,1005,122,1.0,0,0,0,0,0.258,1,171.79,1.3,69.73
2,2019-01-01 00:20:00,12.1,6.9,0.21,1005,124,1.0,0,0,0,0,0.258,1,169.59,1.3,70.65
3,2019-01-01 00:30:00,12.0,6.9,0.21,1005,125,1.0,0,0,0,0,0.258,1,167.37,1.3,71.11
4,2019-01-01 00:40:00,11.8,6.9,0.21,1005,126,1.0,0,0,0,0,0.258,1,165.13,1.3,71.91
5,2019-01-01 00:50:00,11.6,6.9,0.21,1005,128,1.0,0,0,0,0,0.258,1,162.89,1.3,72.87
6,2019-01-01 01:00:00,11.4,6.9,0.21,1005,129,1.0,0,0,0,0,0.258,1,160.63,1.3,73.83
7,2019-01-01 01:10:00,11.3,6.9,0.21,1005,131,1.0,0,0,0,0,0.258,1,158.38,1.3,74.32
8,2019-01-01 01:20:00,11.1,6.9,0.21,1005,133,1.0,0,0,0,0,0.258,1,156.12,1.3,75.31
9,2019-01-01 01:30:00,10.9,6.9,0.21,1004,135,1.1,0,0,0,0,0.258,1,153.87,1.3,76.24
10,2019-01-01 01:40:00,10.7,7.0,0.21,1004,137,1.1,0,0,0,0,0.258,1,151.61,1.3,77.68
11,2019-01-01 01:50:00,10.5,7.0,0.21,1004,139,1.1,0,0,0,0,0.258,1,149.36,1.3,78.72
12,2019-01-01 02:00:00,10.3,7.0,0.21,1004,141,1.1,0,0,0,0,0.258,1,147.11,1.3,79.77
13,2019-01-01 02:10:00,10.2,7.0,0.21,1004,143,1.1,0,0,0,0,0.258,1,144.85,1.3,80.30
14,2019-01-01 02:20:00,10.0,7.0,0.21,1004,145,1.1,0,0,0,0,0.258,1,142.61,1.3,81.38
15,2019-01-01 02:30:00,9.8,7.0,0.21,1004,147,1.1,0,0,0,0,0.257,1,140.36,1.3,82.48
16,2019-01-01 02:40:00,9.7,7.1,0.21,1004,150,1.1,0,0,0,0,0.257,1,138.12,1.3,84.09
17,2019-01-01 02:50:00,9.5,7.1,0.21,1004,152,1.1,0,0,0,0,0.257,1,135.88,1.3,85.22
18,2019-01-01 03:00:00,9.3,7.1,0.21,1004,154,1.1,0,0,0,0,0.257,1,133.64,1.3,86.37
19,2019-01-01 03:10:00,9.2,7.1,0.21,1004,156,1.1,0,0,0,0,0.257,1,131.41,1.3,86.95
20,2019-01-01 03:20:00,9.1,7.1,0.21,1004,158,1.1,0,0,0,0,0.257,1,129.19,1.4,87.54
21,2019-01-01 03:30:00,8.9,7.1,0.21,1004,160,1.1,0,0,0,0,0.257,1,126.97,1.4,88.73
22,2019-01-01 03:40:00,8.8,7.4,0.21,1005,161,1.1,0,0,0,0,0.257,1,124.75,1.4,91.11
23,2019-01-01 03:50:00,8.7,7.4,0.21,1005,163,1.1,0,0,0,0,0.257,1,122.54,1.4,91.72
24,2019-01-01 04:00:00,8.5,7.4,0.21,1005,165,1.1,0,0,0,0,0.257,1,120.34,1.4,92.97
25,2019-01-01 04:10:00,8.5,7.4,0.21,1005,165,1.1,0,0,0,0,0.257,1,118.14,1.4,92.97
26,2019-01-01 04:20:00,8.5,7.4,0.21,1005,165,1.1,0,0,0,0,0.257,1,115.96,1.4,92.97
27,2019-01-01 04:30:00,8.5,7.4,0.21,1005,165,1.1,0,0,0,0,0.257,1,113.77,1.4,92.97
28,2019-01-01 04:40:00,8.5,7.4,0.21,1005,165,1.1,0,0,0,0,0.257,1,111.60,1.4,92.97
29,2019-01-01 04:50:00,8.5,7.4,0.21,1005,165,1.1,0,0,0,0,0.257,1,109.44,1.4,92.97

In [23]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

# Load the dataset
df = pd.read_csv(r'C:\Users\gauth\Downloads\PRT prep\Mock tests\PRT 1\train.csv')

# Display the first few rows of the dataframe to understand its structure
print(df.head())

# Prepare the data for the model
# Drop columns that are not useful for prediction
X = df.drop(columns=['Timestamp', 'Clearsky DNI'])
y = df['Clearsky DNI']

# Split the data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize and train the model
model = RandomForestRegressor(random_state=42)
model.fit(X_train, y_train)

# Predict on the test data
y_pred = model.predict(X_test)

# Calculate the mean squared error
mse = mean_squared_error(y_test, y_pred)

# Display the MSE
print(f"Mean Squared Error: {mse}")

# Check if MSE is below 1200
if mse < 1200:
    print("MSE is below 1200.")
else:
    print("MSE is above 1200.")

             Timestamp  Temperature  Dew Point  Surface Albedo  Pressure  \
0  2019-01-01 00:00:00         12.5        6.9            0.21      1005
1  2019-01-01 00:10:00         12.3        6.9            0.21      1005
2  2019-01-01 00:20:00         12.1        6.9            0.21      1005
3  2019-01-01 00:30:00         12.0        6.9            0.21      1005
4  2019-01-01 00:40:00         11.8        6.9            0.21      1005

   Wind Direction  Wind Speed  Clearsky DHI  Clearsky DNI  Clearsky GHI  \
0             121         1.0             0             0             0
1             122         1.0             0             0             0
2             124         1.0             0             0             0
3             125         1.0             0             0             0
4             126         1.0             0             0             0

   Fill Flag  Ozone  Cloud Type  Solar Zenith Angle  Precipitable Water  \
0          0  0.258           1              173.92                 1.4
1          0  0.258           1              171.79                 1.3
2          0  0.258           1              169.59                 1.3
3          0  0.258           1              167.37                 1.3
4          0  0.258           1              165.13                 1.3

   Relative Humidity
0              68.82
1              69.73
2              70.65
3              71.11
4              71.91
Mean Squared Error: 13.0065989559551
MSE is below 1200.